# 7.3 날짜와 시간 선택

In [6]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터프레임을 만듭니다.
dataframe = pd.DataFrame()

# datetime을 만듭니다.
dataframe['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')
print(dataframe)

# 두 datetime 사이의 샘플을 선택합니다.
dataframe[(dataframe['date'] > '2002-1-1 01:00:00') &
          (dataframe['date'] <= '2002-1-1 04:00:00')]

                     date
0     2001-01-01 00:00:00
1     2001-01-01 01:00:00
2     2001-01-01 02:00:00
3     2001-01-01 03:00:00
4     2001-01-01 04:00:00
...                   ...
99995 2012-05-29 11:00:00
99996 2012-05-29 12:00:00
99997 2012-05-29 13:00:00
99998 2012-05-29 14:00:00
99999 2012-05-29 15:00:00

[100000 rows x 1 columns]

                    date
8762 2002-01-01 02:00:00
8763 2002-01-01 03:00:00
8764 2002-01-01 04:00:00

![](https://t1.daumcdn.net/cfile/tistory/9950C43F5E046BEB09)

https://rfriend.tistory.com/503

## 날짜 열을 인덱스로 지정 - > loc을 사용해서 슬라이싱 가능

In [2]:
# 인덱스를 설정합니다.
dataframe = dataframe.set_index(dataframe['date'])

# 두 datetime 사이 샘플을 선택합니다.
dataframe.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

                                   date
date
2002-01-01 01:00:00 2002-01-01 01:00:00
2002-01-01 02:00:00 2002-01-01 02:00:00
2002-01-01 03:00:00 2002-01-01 03:00:00
2002-01-01 04:00:00 2002-01-01 04:00:00

# 7.4 날짜 데이터를 여러 특성으로 나누기

In [7]:
# 라이브러리를 임포트합니다.
import pandas as pd

# 데이터프레임을 만듭니다.
dataframe = pd.DataFrame()

# 다섯 개의 날짜를 만듭니다.
dataframe['date'] = pd.date_range('1/1/2001', periods=150, freq='W')
print(dataframe)

# 년, 월, 일, 시, 분에 대한 특성을 만듭니다.
dataframe['year'] = dataframe['date'].dt.year
dataframe['month'] = dataframe['date'].dt.month
dataframe['day'] = dataframe['date'].dt.day
dataframe['hour'] = dataframe['date'].dt.hour
dataframe['minute'] = dataframe['date'].dt.minute

# 세 개의 행을 확인합니다.
dataframe.head(3)

          date
0   2001-01-07
1   2001-01-14
2   2001-01-21
3   2001-01-28
4   2001-02-04
..         ...
145 2003-10-19
146 2003-10-26
147 2003-11-02
148 2003-11-09
149 2003-11-16

[150 rows x 1 columns]

        date  year  month  day  hour  minute
0 2001-01-07  2001      1    7     0       0
1 2001-01-14  2001      1   14     0       0
2 2001-01-21  2001      1   21     0       0

# pandas의 데이터 라이브러리를 사용해 만든 date 데이터는 무슨 자료형?

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    150 non-null    datetime64[ns]
 1   year    150 non-null    int64
 2   month   150 non-null    int64
 3   day     150 non-null    int64
 4   hour    150 non-null    int64
 5   minute  150 non-null    int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 7.2 KB